.full_env {
    background: #ffffff;
    overflow: hidden;
}

@media screen and (min-width: 770px) {
.d_encompass {
    margin: 0px auto;
    padding: 4px 0px;
    width: 98vw;
    min-height: 800px;
    min-width: 500px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.d_header {
    height: 275px;
    width: 100%;
    z-index: 1;
}

.d_carousel {
    margin: 2px 0px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d_cards {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid black;
    top: 2px;
}

.d_card {
    margin: auto;
    width: 100%;
    border-bottom: 2px solid black;
}

.d_footer {
    height: 125px;
    width: 100%;
}

}

@media screen and (max-width: 769px) {
    .d_encompass {
        margin: 0px auto;
        padding: 4px 0px;
        width: 96vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .d_header {
        height: 80px;
        width: 100%;
        z-index: 1;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .d_carousel {
        margin: 2px auto;
        width: 98%;
        height: 400px;
    }

    .d_cards {
        margin: auto;
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .d_card {
        margin: 5px auto;
        width: 100%;
    }

    .d_card:last-of-type {
        margin: 5px auto 10px auto;
    }

    .d_footer {
        margin: auto;
        height: 90px;
        width: 98%;
    }
}
